.servicesCardDesign{
    height: 18em;
    width: 18em;
    margin:0.2;
    border:1px solid black;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: #2c3e50;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    transition:0.3s;
}
.servicesCardDesign:hover{
    cursor: pointer;
    background-color:  #18232d;;
    transition: 0.3s;
    
}
.h3{
text-transform: uppercase;
}