.servicesDesign {
    overflow: hidden;
    height: 88vh;
    width: 100vw;

    background-color: rgb(153, 205, 55);
    background-image: url(../../img/tatooStudio.jpg);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}