.userCardDesign {
    height: 10em;
    width: 17em;
    margin: 0em;
    padding: 0em;
    font-weight: bold;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    transition: 0.5s;
}

.userCardDesign:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #18232d;
}