.appointmentsDesign {
    overflow: auto;
    height: 88vh;
    width: 100vw;

    color: yellow;
    background-image: url(../../img/tatooStudio.jpg);
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}