.appointmentsDesign {

    height: 88vh;
    width: 100vw;

    background-color: yellow;
    color: yellow;
    background-image: url(../../img/tatooStudio.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}