.headerDesign {
    height: 12vh;
    width: 100vw;

    background-color: black;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 1000;
}

.authMenu {
    display: flex;
    flex-direction: row;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}